.container {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 440px;
  padding: 0 24px;

  .header {
    width: auto;

    .logo {
      margin-bottom: 24px;

      img {
        margin: 0 auto;
        width: 48px;
        height: 48px;
      }
    }

    .title {
      text-align: center;
    }
  }
}
